<!DOCTYPE html>
<html>
<head>
  <title>Game Page</title>
  <link rel="stylesheet" type="text/css" href="/static/css/styles.css">
</head>
<body>
  <h1>Game Board</h1>
  <table>
    <tr>
      <td class="board" id="board1">{{ board1 }}</td>
      <td class="board" id="board2">{{ board2 }}</td>
      <td class="board" id="board3">{{ board3 }}</td>
    </tr>
    <tr>
      <td class="board" id="board4">{{ board4 }}</td>
      <td class="board" id="board5">{{ board5 }}</td>
      <td class="board" id="board6">{{ board6 }}</td>
    </tr>
    <tr>
      <td class="board" id="board7">{{ board7 }}</td>
      <td class="board" id="board8">{{ board8 }}</td>
      <td class="board" id="board9">{{ board9 }}</td>
    </tr>
  </table>

<script src="static/js/play.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
</body>
</html>